html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* AppBar */
.bf-appbar {
  height: var(--bf-appbar-height);
  background-color: var(--bfc-base-110);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.bf-appbar .logo {
  margin-left: 1rem;
  align-self: center;
  color: var(--bfc-base-text);
  letter-spacing: 4px;
  transition: all ease 1s;
  text-transform: uppercase;
}
.bf-appbar .logo:hover {
  letter-spacing: 20px;
  text-decoration: none;
  color: var(--bfc-base-fg);
}
.bf-appbar > nav {
  display: flex;
}

.bf-appbar .bf-dropdown-content {
  right: 0;
  border-top: 2px solid var(--bfc-base);
}
.bf-appbar .bf-button {
  border: none;
  border-left: 2px solid var(--bfc-base);
  background-color: transparent;
  color: inherit;
  border-radius: 0;
  margin: 0;
  outline: none;
  padding: 0 0.9rem;
  height: var(--bf-appbar-height);
}
.bf-appbar .bf-button:hover,
.bf-appbar .bf-button.active {
  background-color: var(--bfc-base-120);
  border: none;
  border-left: 2px solid var(--bfc-base);
}

/* Navigation */
.bf-navigation {
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 200px;
  background-color: var(--bfc-base-110);
  border-top: 2px solid var(--bfc-base);
  z-index: 2;
}
.bf-navigation > *,
.bf-navigation > *:visited {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: var(--bfc-base-fg);
}
.bf-navigation .fa-icon {
  fill: var(--bfc-base-text);
  margin-right: 0.5rem;
}
.bf-navigation > *:hover,
.bf-navigation > .bf-active {
  background-color: var(--bfc-base-120);
  text-decoration: none;
  color: var(--bfc-base-fg);
}
.bf-navigation > .bf-active .fa-icon {
  fill: var(--bfc-primary);
}
.bf-navigation > hr {
  padding: 0;
  border: 1px solid var(--bfc-base);
}

.bf-layout {
  padding-top: var(--bf-appbar-height);
  padding-left: var(--bf-navigation-width);
}
.bf-layout .bf-navigation {
  top: var(--bf-appbar-height);
  z-index: 2;
}
.bf-layout .bf-appbar {
  z-index: 3;
}
.bf-layout > main {
  min-height: calc(100vh - var(--bf-appbar-height));
}

/* Button */
.bf-button {
  margin: 0.5rem 0.5rem 0 0;
  cursor: pointer;
  padding: 0.4rem 0.9rem;
  background-color: transparent;
  border: 2px solid var(--bfc-primary);
  color: inherit;
  border-radius: 6rem;
}
.bf-button:hover {
  background-color: var(--bfc-primary);
  border: 2px solid var(--bfc-primary);
  color: var(--bfc-base);
  text-decoration: none;
}
.bf-button[disabled] {
  background-color: var(--bfc-base);
  border: 2px solid var(--bfc-base-120);
  color: var(--bfc-base-150);
  cursor: not-allowed;
}

/* Dropdown */
.bf-dropdown {
  position: relative;
  display: inline-block;
}
.bf-dropdown-content {
  position: absolute;
  background-color: var(--bfc-base-120);
  min-width: 150px;
  z-index: 2;
}
.bf-dropdown-content > * {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0.5rem 1rem;
  list-style: none;
  display: block;
}
.bf-dropdown-content > a:hover {
  text-decoration: none;
  background-color: var(--bfc-base-120);
}

/* uhh hack?*/
.fa-fw {
  text-align: center;
  width: 1.25em;
}
