@import url('https://fonts.googleapis.com/css?family=Montserrat|Mr+Dafoe&display=swap');

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bfc-base);
  color: var(--bfc-base-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
}

.streak {
  font-family: "Mr Dafoe", cursive;
  color: #ff3e00;
  font-size: 4em;
  font-weight: 100;
  transform: rotate(-8deg);
  background: -webkit-linear-gradient(90deg, yellow, #ff0000 23%, #bb00ff 76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
