@import url("https://fonts.googleapis.com/css?family=Montserrat|Mr+Dafoe&display=swap");

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bfc-base);
  color: var(--bfc-base-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
}

.streak {
  display: inline-block;
  font-family: "Mr Dafoe", cursive;
  color: #ff3e00;
  font-size: 4em;
  font-weight: 100;
  transform: rotate(-8deg);
  background: -webkit-linear-gradient(100deg, yellow 24%, #ff0000, #bb00ff 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 1.5rem;
}

.bf-lightmode .snowflake {
  fill: #88b5e6;
}
